.fullname{
  display: flex;
  flex-direction: row;
  position: relative;
  right: 315rem;
  font-size: small;
  
  
}
.phonenumber{
    display: flex;
  flex-direction: row;
  position: relative;
  right: 301.5rem;
  font-size: small;
  bottom: 1rem;
}

.address{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 288rem;
    font-size: small;
   bottom: 2rem;
}

.bvn{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 273rem;
    font-size: small;
    bottom: 3rem;
}
.gender{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 259rem;
    font-size: small;
    bottom: 4rem;
}
.maritalstatus{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 245rem;
    font-size: small;
    bottom: 5rem;
}

.children{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 230rem;
    font-size: small;
    bottom: 6rem;
}

.residence{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 216rem;
    font-size: small;
    bottom: 7rem;
}
.education{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 200rem;
    font-size: small;
    bottom: 8rem;
}
.status{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 186rem;
    font-size: small;
    bottom: 9rem;
}
.employment{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 172rem;
    font-size: small;
    bottom: 10rem;
}

.duration{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 155rem;
    font-size: small;
    bottom: 11rem;
}
.officeemail{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 142rem;
    font-size: small;
    bottom: 12rem;
}
.monthlyincome{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 125rem;
    font-size: small;
    bottom: 13rem;
}

.loanrepayment{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 25rem;
    font-size: small;
    bottom: 13rem;
}
.twitter{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 95rem;
    font-size: small;
    bottom: 15rem;
}

.facebook{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 80.9rem;
    font-size: small;
    bottom: 15.9rem;
}

.instagram{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 66rem;
    font-size: small;
    bottom: 16.9rem;
}
.linkedin{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 51rem;
    font-size: small;
    bottom: 17.9rem;
}
.name{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 36rem;
    font-size: small;
    bottom: 18.8rem;
}
.number{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 22rem;
    font-size: small;
    bottom: 19.8rem;
}
.email{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 8rem;
    font-size: small;
    bottom: 22.6rem;
}
.relationship{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 8rem;
    font-size: small;
    bottom: 24rem;
}

.delete{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 23.9rem;
    font-size: small;
    bottom: 25.5rem;
}